   /* Estilo para garantir que o rodapé fique no final da tela */
   html,
   body {
       height: 100%;
       margin: 0;
       background-color: #fcffa4;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .divider {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
   .content {
       min-height: 100vh;
       display: flex;
       flex-direction: column;
   }

   .sider-button:hover {
    background-color: #E0AB40;
    transform: scale(1.05);
    color: white;
   }

   .bg-purple-700{
    background-color: #E0AB40!important;
   }

   .flex-grow-1 {
       flex: 1;
   }

   h1 {
       text-align: center;
       color: #2c3e50;
       font-size: 2.5rem;
       font-weight: 600;
       margin-bottom: 30px;
   }

   .ticker-container {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
       gap: 20px;
       padding: 20px;
   }
.card{
   background-color: rgba(33, 37, 41);
   color:rgb(255, 255, 255);

   }

.card-login{

    background-color: #0E1927;
}

#sidebar{
    background-color: #0D1927;
}
   
.sidebar{

    
    color: white;

}
.card-body{

   color : white;
}
   .btn {
       margin-top : 10px;

   }
   .arbitrage-card {
       background-color: #0E1927;
       border-radius: 8px;
       padding: 25px;
       box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
       margin-top: 20px;
       position: relative;
       transition: transform 0.3s ease;
   }

   .arbitrage-card:hover {
       transform: translateY(-5px);
   }

   .arbitrage-header {
       font-size: 1.5rem;
       font-weight: 700;
       color:white;
       margin-bottom: 15px;
   }

   .arbitrage-body {
       font-size: 1rem;
       color: white;
       line-height: 1.6;
   }

   .arbitrage-profit {
       font-size: 1.25rem;
       font-weight: bold;
   }

   .positive {
       color: #27ae60;
   }

   .negative {
       color: #e74c3c;
   }

   .arbitrage-profit-percent {
       position: absolute;
       top: 15px;
       right: 20px;
       font-size: 1.1rem;
       font-weight: bold;
       color: #27ae60;
   }

   .error {
       color: #e74c3c;
       font-weight: bold;
       text-align: center;
       margin-top: 30px;
   }

   .loading {
       text-align: center;
       font-size: 1.2rem;
       color: #3498db;
   }

   .button-link {
       display: block;
       text-align: center;
       background-color: rgba(124, 58, 237) ;
       color: white;
       font-size: 1rem;
       font-weight: bold;
       text-decoration: none;
       padding: 12px 25px;
       border-radius: 30px;
       margin-top: 20px;
       transition: background-color 0.3s ease, transform 0.3s ease;
   }

   .button-form{
    background-color: rgba(124, 58, 237) ;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;

   }

   
   .button-form:hover {
    background-color: rgba(99, 46, 190, 1);
    transform: scale(1.05);
    color: white;
}
   
.form {
  
  color: white;

}

   .button-link:hover {
       background-color: rgba(99, 46, 190, 1);
       transform: scale(1.05);
       color: white;
   }

   .button-link:active {
       background-color: #1a4c75;
   }
   #finaciamento{
       color : #e74c3c;
   }


   .form-control{
color: black;

   }


/*    CSS PAGE SIGNATURES      */
.plan {
    border-radius: 16px;
    box-shadow:  0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #2A2D3E;
    color: white;
    max-width: 300px;
  }
  
  .plan strong {
    font-weight: 600;
    color: white;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #2A2D3E;
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(135, 71, 246, 0.74);
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;

    color: white;
  }
  
  .plan .pricing small {
    color: white;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }
  
  .plan .button:hover, .plan .button:focus {
    background-color: #4133B7;
  }


   /* Responsive design */
   @media (max-width: 768px) {
       h1 {
           font-size: 2rem;
       }

       .arbitrage-card {
           padding: 15px;
       }

       .button-link {
           font-size: 0.9rem;
           padding: 10px 20px;
       }
   }